<ion-header [translucent]="true">
  <ion-toolbar>
        <ion-buttons slot="start">
           <ion-menu-button menu="custom"></ion-menu-button>
        </ion-buttons>
    <ion-title>
      Notícias
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>

    
      <ion-item href="https://www.google.com/maps/reserve/merchant?c=b1JG7ZdQAGs&source=pa&gei=xqOgYJuKC4zR5OUP2pKnKA&sourceurl=https://www.google.com/search?q%3Dcristo%2Bredentor%26ei%3DtqOgYIPSAtO-5OUPy7KQ2Aw%26oq%3Dcristp%26gs_lcp%3DCgdnd3Mtd2l6EAEYADINCAAQsQMQxwEQrwEQQzIECAAQCjIHCAAQsQMQQzIECAAQQzIECC4QCjIECC4QCjIHCC4QsQMQCjIECAAQCjIECAAQCjIECAAQQzoECAAQRzoHCC4QQxCTAjoECC4QQzoKCAAQsQMQgwEQQzoKCAAQxwEQrwEQQzoHCC4QsQMQQzoKCC4QsQMQgwEQQzoFCAAQsQM6CAguELEDEIMBOgIIADoFCC4QsQNQ5RJYsTxgnU9oAHAEeASAAcQFiAH9JpIBDTAuMS4wLjEuMi41LjGYAQCgAQGqAQdnd3Mtd2l6sAEIyAEIwAEB%26sclient%3Dgws-wiz&hl=pt-BR">
        
      <ion-item class="ion-activated"></ion-item>
         <ion-icon name="cristo" slot="start"></ion-icon>
         <ion-label>Cristo Redentor</ion-label>
      </ion-item>
    >

     
        <ion-item href="https://guia.melhoresdestinos.com.br/praia-de-copacabana-4-9-l.html">

          
          <ion-icon name="copacabana" slot="start"></ion-icon>
          <ion-label>Copacabana</ion-label>
        </ion-item>
    

    
      <ion-item href="https://www.tremdocorcovado.rio/">

        
        <ion-icon name="corcovado" slot="start"></ion-icon>
        <ion-label>Corcovado</ion-label>
      </ion-item>
    

  </ion-card>

</ion-content>
